extends layout
block content
    header.tf-header
      nav.navbar.py-5.navbar-dark
        .container
          h1
            a.navbar-brand(href='/') #{title}
          #navbar
            ul.nav.pull-right
              li.nav-item
                a.nav-link(href='/') Inicio
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Productos 
                  span.caret
                ul.dropdown-menu
                  li.dropdown-item
                    a(href='/eztoken') EZ-Token
                  li.dropdown-item
                    a(href='/ezico') EZ-ICO
                  li.dropdown-item
                    a(href='#') EZ-Sales
                  li.dropdown-item
                    a(href='#') EZ-Auctions
        .container
            .row
              .col-md-7.col-sm-12
                h2
                  | EZ_Token
            .row
              .col-md-7.col-sm-12
                p.mt-2
                  | Crea tu propio token ERC20. Solo debes indicar
                  | el nombre, el símbolo, la cantidad de decimales y el suministro.
                  | El suministro inicial irá a tu cuenta de Metamask.
    .page-content
      div
        .tf-work-section
            .container
                h2.h3 Crea tu token ERC-20
                p#contract(hidden='') eztoken
                p#tokenAbi(hidden='') #{tokenAbi}
                p#tokenBC(hidden='') #{tokenByteCode}
            .container
                .row.no-gutters
                    .col-md-1.col-sm-4.tf-hh-col
                        label(for='tokenName') Nombre
                        input.mt-1.form-control(type='text' id='tokenName' name='tokenName' placeholder='myToken')
                    .col-md-1.offset-md-1.col-sm-4
                        label(for='tokenSymbol') Símbolo
                        input.mt-1.form-control(type='text' id='tokenSymbol' name='tokenSymbol' placeholder='MET')
                    .col-md-1.offset-md-1.col-sm-4
                        label(for='tokenDecimals') Decimales
                        input.mt-1.form-control(type='number' id='tokenDecimals' name='tokenDecimals' placeholder=18 min='0' max='18')
                    .col-md-1.offset-md-1.col-sm-4
                        label(for='tokenSupply') Suministro
                        input.mt-1.form-control(type='number' id='tokenSupply' name='tokenSupply' placeholder=100)
                    .col-md-2.offset-md-1.col-sm-4
                        a.tf-header-heading-btn.a.btn.btn-primary.btn-block.mt-1(href='#myTokens' onclick='getABI()') Generar Token                         
    footer.bg-dark.py-4.mt-5.tf-footer
      .container.text-light
        .row
          .col-md-6.col-sm-12 © blockchain1o1. Derechos reservados.
          .col-md-6.col-sm-12.text-right.tf-design
            | Design - 
            a(href='https://templateflip.com', target='_blank') Templateflip
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
