extends layout
block content
    header.tf-header
      nav.navbar.py-5.navbar-dark
        .container
          h1
            a.navbar-brand(href='#') #{title}
          #navbar
            ul.nav.pull-right
              li.nav-item
                a.nav-link(href='#') Inicio
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Productos 
                  span.caret
                ul.dropdown-menu
                  li.dropdown-item
                    a(href='/eztoken') EZ-Token
                  li.dropdown-item
                    a(href='/ezicoBasic') EZ-ICO (Basic Crowdsale)
                  li.dropdown-item
                    a(href='/ezicoMinted') EZ-ICO (Minted Crowdsale)
                  li.dropdown-item
                    a(href='#') EZ-Sales
                  li.dropdown-item
                    a(href='#') EZ-Auctions
              li.nav-item
                a.nav-link(href='#why') ¿Por qué?
              li.nav-item
                a.nav-link(href='#tf-carousel') Nosotros
              li.nav-item
                a.nav-link(href='#contact') Contáctanos
      .container
        .row
          .col-md-7.col-sm-12
            h2
              | Contratos inteligentes para ti.
        .row
          .col-md-7.col-sm-12
            p.mt-4
              | Ponemos a tu disposición nuestra herramienta,
              | que te permite crear y desplegar contratos inteligentes
              | sin necesidad de programar.
    .page-content
      div
        .tf-work-section
          #work.container
            h2.h3 ¿Por qué EZ-Contract?
          .container
            .row
              .col-md-4.col-sm-12.pt-2
                .card
                  img.img-fluid.card-img-top(src='images/2-start-simple.jpg', alt='2-start-simple')
                  .card-body
                    p.text-muted
                      | Los contratos inteligentes permiten prescindir de intermediarios en operaciones entre particulares, disminuyendo los costos y mejorando la privacidad.
              .col-md-4.col-sm-12.pt-2
                .card
                  img.img-fluid.card-img-top(src='images/3-start-simple.jpg', alt='3-start-simple')
                  .card-body
                    p.text-muted
                      | Las principales dificultades para llevar la tecnología de contratos inteligentes al público son el déficit de programadores y los compromisos de seguridad, pues estos contratos habitualmente manejan dinero.
              .col-md-4.col-sm-12.pt-2
                .card
                  img.img-fluid.card-img-top(src='images/4-start-simple.jpg', alt='4-start-simple')
                  .card-body
                    p.text-muted
                      | EZ-Contract pone a tu disposición contratos inteligentes seguros para casos de uso estandarizables, como Tokens, ICOs y operaciones de compra-venta. De esta forma puedes disfrutar las ventajas de esta tecnología de manera sencilla.
        .tf-quotes-section
          #tf-carousel.carousel.slide.mt-5(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#tf-carousel', data-slide-to='0')
              li(data-target='#tf-carousel', data-slide-to='1')
            .carousel-inner
              .carousel-item.active(style="background-image: url('images/5-start-simple-slider.jpg');")
                .carousel-caption
                  p.slider-text-2
                    | ¿Cuál es nuestra propuesta?
                  p.slider-text-1
                    | Sólo necesitas desarrollar tu idea de emprendimiento, nuestra herramienta te permite crear
                    br
                    | los contratos inteligentes que necesitas sin preocuparte por la programación ni por la seguridad
              .carousel-item(style="background-image: url('images/7-start-simple-slider.jpg');")
                .carousel-caption
                  p.slider-text-2
                    | ¿Qué debes saber?
                  p.slider-text-1
                    | - Nuestros contratos han sido desarrollados siguiendo buenas prácticas de seguridad.
                    br
                    | - El código de nuestros contratos está disponible en github.
                    br
                    | - Nuestros contratos han sido auditados para garantizar su seguridad. (EN PROCESO)
                    br
                    | - Esta tecnología aún está en una fase experimental, toma tus precauciones!
            a.carousel-control-prev(href='#tf-carousel', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#tf-carousel', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        .tf-contact-section
          #contact.container
            h2.h4 Comunícate con nosotros
          .container
            .row
              .col-md-4.col-sm-12
                h3.h5 Contáctanos
                form(action='https://formspree.io/rlaingpro@gmail.com', method='POST')
                  .row.no-gutters
                    .col-lg-6.col-md-12.col-sm-12.tf-contact-col
                      input.bg-light.form-control(type='text', name='name', placeholder='*Tu nombre', required='required')
                    .col-lg-6.col-md-12.col-sm-12.pb-2
                      input.bg-light.form-control(type='email', name='email', placeholder='*Tu email', required='required')
                  .row.pb-2.no-gutters
                    .col-md-12.col-sm-12
                      textarea.bg-light.mb-2.form-control(name='message', placeholder='*Tu mensaje', rows='3', required='required')
                  button.btn.btn-primary(type='submit') Enviar
              .col-md-8.col-sm-12.float-right.text-right

                h3.h5 Teléfono
                p +521 5583618217
                h3.h5 Email
                p ochoacabriles@gmail.com
    footer.bg-dark.py-4.mt-5.tf-footer
      .container.text-light
        .row
          .col-md-6.col-sm-12 © blockchain1o1. Derechos reservados.
          .col-md-6.col-sm-12.text-right.tf-design
            | Design - 
            a(href='https://templateflip.com', target='_blank') Templateflip
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
