doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='Sistema de venta de boletos basado en blockchain.')
    link(href='https://fonts.googleapis.com/css?family=Oxygen:300,400,600,700', rel='stylesheet')
    link(href='stylesheets/main.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/javascripts/main.js')
  body#top
    block content